# IMPORTANT: Discord bot token
.token
.env

# Log
latest.log

# Lib
lib/

# Byte-compiled
__pycache__/

# venv
.venv/

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# egg
*.egg-info
*.egg

# vscode
*.code-workspace

# nuitka
*.build/
*.dist/

# archives
*.zip
*.rar
*.7z
